.gap-large{
    gap: 2rem;
}

.categories{
    padding: 6rem 2rem 1rem 2rem;
   margin-left: 6px;
   color: var(--text-color-primary);
   width: 100vw;
   position: fixed;
   z-index: 1;
}

.btn-category{
    border-radius: 50%;

}
.border-botton{
    border-bottom: 2px solid var( --accent-color);
}