@import url("https://uilight.netlify.app/main.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');


:root {
    --background-color: #fafafa;
    --primary-color: #ff6525;
    --text-color-primary: #363030;
    --accent-color: #d2d2d2;
    --container-border-color: #707070;
    --overlay: rgba(0, 0, 0, 0.3);
  }


*{
 padding: 0;
 margin: 0;
 font-family: 'Poppins';

}
body{
    overflow-x: hidden;
    overflow-y: auto;
    background-color:var(--background-color);
}